{% extends 'myapp/base.html' %}

{% block content %}

<body>

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3> Login to your account </h3>

        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                <input type="text" class="form-control" id="id_username" name="username" value="{{ form.username.value }}">
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                <input type="password" class="form-control" id="id_password" name="password">
            </div>

            <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Login &nbsp; <i class="fa fa-key" aria-hidden="true"></i> </button>

        </form>

        <br>

        <div class="text-center">

            <p> Don't have an account? </p> <a href="{% url 'register' %}"> Register </a>

        </div>

    </div>

    <br>

</body>

{% endblock %}
