<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">
    <a class="navbar-brand main-heading" href="{% url '' %}">
        &nbsp; RecordX
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if not user.is_authenticated %}active{% endif %}">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item {% if not user.is_authenticated %}active{% endif %}">
                <a class="nav-link" href="{% url '' %}">Login</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url '' %}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url '' %}">Sign out</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
