{% extends 'myapp/base.html' %}

{% block content %}

<body>

    <div class="container bg-light shadow-md p-5 form-layout">

        <h3> Update Record </h3>
        
        <h6> Update your record down below. </h6>

        <hr>
        <br>

        <form method="POST" autocomplete="off">

            {% csrf_token %}

            <div class="mb-3">
                <label for="id_first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="id_first_name" name="first_name" value="{{ form.first_name.value }}">
            </div>

            <div class="mb-3">
                <label for="id_last_name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="id_last_name" name="last_name" value="{{ form.last_name.value }}">
            </div>

            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                <input type="email" class="form-control" id="id_email" name="email" value="{{ form.email.value }}">
            </div>

            <!-- Add similar input fields for other form fields -->

            <button type="submit" class="btn btn-info"> 
                Update record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
            </button>

            &nbsp; 
            
            <a href="{% url 'dashboard' %}" class="btn btn-secondary"> 
                Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>

        </form>

    </div>

    <br>

</body>

{% endblock %}
